{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module",
        "tsConfigRootDir": "__dirname"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-console": "error",
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
    },
    "env":{
        "node": true,
        "jest": true
    }
}